POSTGRES_DB=facturaelectronica
POSTGRES_USER=factura_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST_PORT=5432

LEGACY_MONOLITH_PORT=8083
TENANT_SERVICE_PORT=8084
CATALOG_SERVICE_PORT=8085
THIRDPARTY_SERVICE_PORT=8086
INVENTORY_SERVICE_PORT=8087
BILLING_SERVICE_PORT=8088
DIAN_PROVIDER_SERVICE_PORT=8089
ACCOUNTING_SERVICE_PORT=8090
AUDIT_SERVICE_PORT=8091

DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
DB_USERNAME=factura_user
DB_PASSWORD=change_me

TENANT_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
TENANT_DB_USERNAME=factura_user
TENANT_DB_PASSWORD=change_me

CATALOG_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
CATALOG_DB_USERNAME=factura_user
CATALOG_DB_PASSWORD=change_me
CATALOG_SERVICE_URL=http://catalog-service:8085

THIRDPARTY_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
THIRDPARTY_DB_USERNAME=factura_user
THIRDPARTY_DB_PASSWORD=change_me

INVENTORY_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
INVENTORY_DB_USERNAME=factura_user
INVENTORY_DB_PASSWORD=change_me
INVENTORY_SERVICE_URL=http://inventory-service:8087

BILLING_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
BILLING_DB_USERNAME=factura_user
BILLING_DB_PASSWORD=change_me
DIAN_PROVIDER_SERVICE_URL=http://dian-provider-service:8089
ACCOUNTING_SERVICE_URL=http://accounting-service:8090

DIAN_PROVIDER_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
DIAN_PROVIDER_DB_USERNAME=factura_user
DIAN_PROVIDER_DB_PASSWORD=change_me

ACCOUNTING_DB_URL=jdbc:postgresql://postgres:5432/facturaelectronica
ACCOUNTING_DB_USERNAME=factura_user
ACCOUNTING_DB_PASSWORD=change_me

JPA_SHOW_SQL=false

DIAN_PROVIDER_MODE=mock
DIAN_MOCK_DEFAULT_STATUS=ACCEPTED
DIAN_MOCK_ERROR_CODE=
DIAN_MOCK_ERROR_MESSAGE=

DIAN_PROVIDER_BASE_URL=https://dummy-provider.example
DIAN_PROVIDER_API_KEY=change_me
DIAN_CERTIFICATE_PATH=/run/secrets/dian_certificate.p12
DIAN_CERTIFICATE_PASSWORD=change_me
